.sidebar {
  background-color: #333;
  color: #fff;
  height: 100vh;
  width: 20%; /* Set sidebar width to 20% */
}
/* Main Section Styles */
.main-section {
  padding: 20px;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    float: none;
  }
}
.login-div{
  margin: 10vw;
  padding: 5%;
}
.nav-div{
  margin-top: 50px;
}
.nav-item a{
  display: flex;
  color: white;
}
.nav-links{
  margin-top: 20px;
}